			＃大盒子{
				宽度：100 %；
				高度：100 %；
				位置：绝对；

				背景图像：url （ ../ccc/t01a270913aa36a14ff.jpg ）；
			}

			.leftb {
				宽度：803像素；
				高度：789像素；
				背景图像：url （ ../ccc/ 151019oxVnCsCdLFWDMx0s.png ）；
				边框半径：107 px；
				位置：绝对；
				左：2 %；
				顶部：13 %；
			}

			。光盘{
				宽度：319像素；
				高度：319像素；
				背景图像：url （ ../ccc/zxmzf.jpg ）；
				位置：绝对；
				左：219像素；
				顶部：248像素；
				背景位置：中心 中心；
				背景颜色：黑色；
				边界半径：50 %；/* 圆角半径 */
				背景重复：不重复
			}

			.gif {
				宽度：88像素；
				高度：48像素；
				背景图片：url ( ../ccc/yinfu.gif )；
				位置：绝对；
				左：115像素；
				顶部：200像素；
				背景重复：不重复
			}

			.尔吉{
				背景图片：url ( ../ccc/erji.png )；
				宽度：251像素；
				height: 409px;

				background-repeat: no-repeat;
				position: absolute;
				left: 20px;
			}

			.rightb {
				width: 450px;
				height: 300px;
				position: absolute;
				left: 60%;
				top: 20%
			}

			@font-face {
				font-family: MD;
				src: url(../MD.ttf);
			}

			h2 {
				font-family: MD;
				text-align: center;
				font-size: 60px;
				color: #ff4108;
			}

			.song {
				width: 500px;
				height: 330px;
				background-image: url(../ccc/bg.png);
				text-align: center;
				overflow: auto;
				/* 外溢文本 */
			}

			audio {
				width: 500px;
				height: 30px;
			}

			.m-top {
				height: 70px;
				width: 100%;
				background: #242424;
			}

			ul {
				margin: 0 auto;
				list-style-type: none;
			}

			li {
				float: left;
				color: aliceblue;
				line-height: 75px;
				margin-left: 50px;
				font-size: 17px;
				color: azure;
			}

			.oneli {
				font-size: 34px;
				font-family: "楷体";
			}

			a:link {
				color: azure;
				文本装饰：无；
			}

			a：访问过 {
				颜色：天蓝色；
			}

			a：悬停 {
				颜色：珊瑚色；
			}
